<h1>Listing other_stuffs</h1>

<table>
  <thead>
    <tr>
      <th>My junk</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @other_stuffs.each do |other_stuff| %>
      <tr>
        <td><%= other_stuff.my_junk %></td>
        <td><%= link_to 'Show', other_stuff %></td>
        <td><%= link_to 'Edit', edit_other_stuff_path(other_stuff) %></td>
        <td><%= link_to 'Destroy', other_stuff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Other stuff', new_other_stuff_path %>
